<a href="https://colab.research.google.com/github/Aryaannn24/Reinforcement-Learning/blob/main/Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!python --version

Python 3.10.12

In [3]:
def quicksort(arr):
  if len(arr) <= 1:
    return arr
  pivot = arr[len(arr) // 2]
  left = [x for x in arr if x < pivot]
  middle = [x for x in arr if x == pivot]
  right = [x for x in arr if x > pivot]
  return quicksort(left) +middle + quicksort(right)

print(quicksort([5,4,6,7,8,3,1]))

[1, 3, 4, 5, 6, 7, 8]

In [4]:
a = 10/2
b = 10 // 2
print(a)
print(b)

5.0
5

In [5]:
x = 3
print(x, type(x))

3 <class 'int'>

In [6]:
print(x + 1)
print(x - 1)
print(x * 2)
print(x ** 2)

4
2
6
9

In [9]:
x += 1
print(x)
x *= 2
print(x)

9
18

In [8]:
y = 2.5
print(type(y))
print(y, y + 1, y * 2, y ** 2)

<class 'float'>
2.5 3.5 5.0 6.25

In [10]:
d = 696969.42035
print(type(d))

<class 'float'>

In [11]:
t, f = True, False
print(type(t))

<class 'bool'>

In [12]:
print(t and f)
print(t or f)
print(not t)
print(t != f)

False
True
False
True

In [17]:
hello = 'Hello'
world = "World"
print(hello, len(hello))

Hello 5

In [18]:
hw = hello + ' ' + world
print(hw)

Hello World

In [19]:
s1 = 'stray'
s2 = 'kids'

skz = s1 + ' ' + s2
print(skz)

stray kids

In [20]:
hw12 = '{} {} {}'.format(hello, world, 12)
print(hw12)

Hello World 12

In [21]:
bff = 'debosmita'
bfl = 'saha'

eg = '{} {} '.format(bff, bfl)
print(eg)
print(len(eg))

debosmita saha
15

In [23]:
s = 'Abhay'
print(s.capitalize())   #capitalize a string
print(s.upper())        #conver a string to uppercase
print(s.rjust(7))       #Right-justify a string, padding with spaces
print(s.center(7))      #centre a string, padding with spaces
print(s.replace('b', '(d)'))   #Replace all instace of one substring with another
print(' world'.strip())   #strip leading and trailing whitespace

Abhay
ABHAY
  Abhay
 Abhay
A(d)hay
world

In [29]:
s = "machine learning"
print(s.capitalize())   #capitalize a string
print(s.title())        #to capitalize all the first letters in a string
print(s.upper())        #conver a string to uppercase
print(s.rjust(25))       #Right-justify a string, padding with spaces
print(s.center(25))      #centre a string, padding with spaces
print(s.replace('b', '(d)'))   #Replace all instace of one substring with another
print(' world'.strip())   #strip leading and trailing whitespace

Machine learning
Machine Learning
MACHINE LEARNING
         machine learning
     machine learning
machine learning
world

**LISTS**

In [38]:
xs = [3,1,2]
print(xs, xs[2])
print(xs[-3])

[3, 1, 2] 2
3

In [41]:
xs[2] = 'foo'
print(xs)

[3, 1, 'foo', 12]

In [42]:
xs.append('bar')
print(xs)

[3, 1, 'foo', 12, 'bar']

In [43]:
xs.append(12)

In [44]:
print(xs)

[3, 1, 'foo', 12, 'bar', 12]

In [45]:
x = xs.pop()   #Remove and return the last element of the list
print(x, xs)

12 [3, 1, 'foo', 12, 'bar']

In [46]:
y = xs.pop(3)
print(y, xs)

12 [3, 1, 'foo', 'bar']

In [47]:
nums = list(range(5))
print(nums)
print(nums[2:4])
print(nums[2:])
print(nums[:2])
print(nums[:])
print(nums[: -1])
nums[2:4] = [8,9]
print(nums)

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 1, 8, 9, 4]

In [50]:
nums = list(range(10))
print(nums)
print(nums[4:7])
print(nums[6:])
print(nums[:6])
print(nums[:])
print(nums[: -4])
nums[2:4] = [8,9]
print(nums)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6]
[6, 7, 8, 9]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5]
[0, 1, 8, 9, 4, 5, 6, 7, 8, 9]

In [53]:
animals = ['cat' , 'dog' , 'monkey']
for x in animals:
  print(x)

cat
dog
monkey

In [54]:
animals = ['cat', 'dog' , 'monkey']
for idx, x in enumerate(animals):
  print('#{}: {}'.format(idx + 1, x))

#1: cat
#2: dog
#3: monkey